@tailwind base;
@tailwind components;
@tailwind utilities;

.generic-hover {
    @apply transition duration-200 hover:brightness-90;
}

.generic-disabled {
    @apply disabled:brightness-75 disabled:cursor-not-allowed;
}

.separator {
    background-image: url('/img/underline.webp');
    background-repeat: no-repeat;
    background-position: left;
    height: 10px;
    transform: translateY(-7px);
}

.ks-pagetext {
    @apply leading-5 text-[0.9em];
}

.pageview {
    font-family: sans-serif;
    color: black;
    font-size: 0.8em;
}

.pageview a {
    color: #993333;
}

.pageview a:hover {
    text-decoration: underline;
}